
ion-content {
    // --background: url(../../assets/bukittinggi.jpg) no-repeat top center/cover fixed, #fff;
    position: relative;
    height: 100%;
    width: 100%;
}

ion-toolbar {
    --background: transparent !important;
}

.container {
    padding:20px;

    ion-item {
        border-radius: 20px;
        margin-top: 10px;
    }

    .menu {
        text-align: center;
        max-width: 90px;
        ion-button {
            width: 50px;
            height: 50px;
            --border-radius: 50%;
        }
         p {
            line-height: 0;
            font-size: 12px;
        }
    }

}

.card {
    margin: 0 auto;

    .header {
        height: 200px;

        .avatar {
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
                border: 8px solid #9Dc912;
                background-color: #fff;
            }
        }
    }
}


.card-body {
    background-color: #ffffff;
    padding: 30px;
    height: calc(100vh – (200px + 56px));
    overflow: hidden;

    .user-meta {
        padding-top: 40px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }

        .country {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}
.box {
    width:100%;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top:5px;
}

