<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scan Barcode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div class="container">

  <ion-img src="assets/animated1.png"></ion-img>

  <ion-button (click)="scanCode()" expand="block" color="secondary" shape="round" style="margin-top: 20px;">
    <ion-icon name="qr-code-outline" style="margin-right:10px;"></ion-icon>
    Scan Code
  </ion-button>
  
  <!-- <ngx-qrcode
      qrc-element-type="elementType"
      [value] = "qrData">
    </ngx-qrcode> -->
<!--   
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result From Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card> -->
  
</div>

</ion-content>
